/* ==========================================================================
Base layout
========================================================================== */
body {
	padding:0 $mobile-padding;
	margin:0;
	@include breakpoint(420px){
		padding:0 0;
	}
}

#page {
	lost-center:$max-page-width;
	
	#masthead {

		#site-branding {
			lost-column:2/12;
		}

		#site-navigation {
			lost-column:10/12;

			#primary-menu {
				float:right;

				li {
					margin-left:20px;
				}
			}
		}
	}

	#content {
		lost-utility:clearfix;
		
		#primary {
			lost-column:3/4;
		}
		#secondary {
			lost-column:1/4;
		}
	}

	#colophon {
		
	}
}








/* ==========================================================================
temp styles
========================================================================== */
// #page {
// 	border:1px solid red;
	
// 	#masthead {
// 		border:1px solid red;

// 		#site-branding {
// 			border:1px solid red;
// 		}

// 		#site-navigation {
// 			border:1px solid red;

// 			#primary-menu {
// 				border:1px solid red;
// 			}
// 		}
// 	}

// 	#content {
// 		border:1px solid red;
// 		#primary {
// 			border:1px solid red;
// 		}
// 		#secondary {
// 			border:1px solid red;
// 		}
// 	}

// 	#colophon {
// 		border:1px solid red;
// 	}
// }