/* ==========================================================================
Base layout
========================================================================== */
body {
	padding:0 $mobile-padding;
	margin:0;
	@include breakpoint(420px){
		padding:0 0;
	}
}

#page {
	lost-center:$max-page-width;
	
	#masthead {
		height:50px;
		line-height: 50px;

		.site-branding {
			lost-column:2/12;
		}

		#site-navigation {
			lost-column:10/12;

			.menu {
				float:right;

				li {
					margin-left:20px;
				}
			}
		}
	}

	#content {

	}

	#colophon {

	}
}
