.gallery {
	lost-utility:clearfix;
}

figure {
	padding:0px;
	margin-bottom: 0px;
	.gallery-columns-2 & {
		lost-column:1/2;
		img {
			width:100%;
		}
	}

	.gallery-columns-3 & {
		lost-column:1/3;
		img {
			width:100%;
		}
	}

	.gallery-columns-4 & {
		lost-column:1/4;
		img {
			width:100%;
		}
	}

	.gallery-columns-5 & {
		lost-column:1/5;
		img {
			width:100%;
		}
	}

	.gallery-columns-6 & {
		lost-column:1/6;
		img {
			width:100%;
		}
	}

	.gallery-columns-7 & {
		lost-column:1/7 7 0px;
		img {
			width:100%;
		}
	}

	.gallery-columns-8 & {
		lost-column:1/8 8 0px;
		img {
			width:100%;
		}
	}

	.gallery-columns-9 & {
		lost-column:1/9;
		img {
			width:100%;
		}
	}
}

.gallery-caption {
	display: none;
}

/* ==========================================================================
Gallery large
========================================================================== */
figure {
	.gallery-size-large.gallery-columns-1 &{
		lost-column:1/1 0 0px;
	}
	.gallery-size-large.gallery-columns-2 &{
		lost-column:1/2 0 0px;
	}
	.gallery-size-large.gallery-columns-3 &{
		lost-column:1/3 0 0px;
	}
	.gallery-size-large.gallery-columns-4 &{
		lost-column:1/4 0 0px;
	}
	.gallery-size-large.gallery-columns-5 &{
		lost-column:1/5 0 0px;
	}
	.gallery-size-large.gallery-columns-6 &{
		lost-column:1/6 0 0px;
	}
	.gallery-size-large.gallery-columns-7 &{
		lost-column:1/7 0 0px;
	}
	.gallery-size-large.gallery-columns-9 &{
		lost-column:1/8 0 0px;
	}
	.gallery-size-large.gallery-columns-9 &{
		lost-column:1/9 0 0px;
	}
}