/* ==========================================================================
Lost variables
========================================================================== */
@lost gutter 10px;

/* ==========================================================================
Screensizes
========================================================================== */
$portrait: 	768px;
$landscape:	1024px;
$desktop:	1366px;
$bigscreen:	1440px;

/* ==========================================================================
Design sizes
========================================================================== */
$max-page-width:	1600px;
$max-inner-width:	1440px;

$mobile-padding: 20px;

/* ==========================================================================
header
========================================================================== */



